.Navigation{
    display: grid;
    grid-column: 1 2;
    width: 100%;
    border-bottom: 2px  solid white;
  }
  .topic-button{
    padding: 5%;
    grid-column: 1;
  }
  .new-button{
    size: auto;
    grid-column: 3;
    padding: 5%;
  }
  .site-title{
    grid-column: 2;
    padding: 5px;
    margin: 0;
  }
  .nav-list{
  list-style: none;
  display:grid;
  padding: 0;
  }