.original-post{
    display: grid;
    border:solid black;
    width: auto;
    min-height: 150px;
    max-height: auto;
    color:white;
    background-color:black;
}
.post-title{
    margin: 0px 5%;
    text-align:left;
    border-bottom: dotted white 1px;
    display: inline-block;
    height: 50px;
}
.post-body{
    display: inline-block;
    height: auto;
    margin-left: 5%;
    text-align: left;
    white-space: normal;
    padding: 3%;
}
.newComment{
    display: flex;
    background-color: black;
}
.comment-tag{
    grid-row: 1;
    grid-column: 1;
    width: 20%;
    align-items:left;
    color:green;
}

.commentbox{
    grid-row: 2/3;
    grid-column: 2;
}
.commentsubmit{
    grid-row: 4;
    grid-column: 3;
    color:red;
}