.App {
  text-align: center;
  /* display: flex; */
  height: fill;
  padding: 5px;
}

.Navigation{
  display: grid;
  grid-column: 1 2;
  width: 100%;
}
a:link{
  color:black;
  padding: 5px;
  border: 1px black;
}
a:hover{
  color:black;
}
a:visited{
  color:black;
  margin: 5px;
  outline: 1px black;
}
.topic-button{
  padding: 5%;
  grid-column: 1;
}
.new-button{
  size: auto;
  grid-column: 3;
  padding: 5%;
}
.site-title{
  grid-column: 2;
  padding: 5px;
  margin: 0;
}
.nav-list{
list-style: none;
display:grid;
padding: 0;
}
