.App {
  text-align: center;
  /* display: flex; */
  height: fill;
  padding: 5px;
}
ul{
  list-style: none;
  padding: 0;
}
a:link{
  color:white;
  padding: 5px;
  border: 1px black;
}
a:hover, a:active{
  text-decoration: none;
  color:white;
}
a:visited{
  color:white;
  margin: 5px;
  outline: 1px black;
}

.main-container{
  margin:0 5%;
}


