.App {
  text-align: center;
  /* display: flex; */
  height: fill;
  padding: 5px;
}

a:link{
  color:black;
  padding: 5px;
  border: 1px black;
}
a:hover{
  color:black;
}
a:visited{
  color:black;
  margin: 5px;
  outline: 1px black;
}

