.comment{
    padding-top: 5%;
    display: grid;
    border:solid black;
    width: auto;
    min-height: 150px;
    max-height: auto;
}
.comment-body{
    display: inline-block;
    height: auto;
    margin-left: 5%;
    text-align: left;
    white-space: normal;
}