.comment{
    padding-top: 5%;
    display: grid;
    border:solid white 5px;
    width: auto;
    min-height: 150px;
    max-height: auto;
    color:white;
    background-color:black;
}
.comment-body{
    display: inline-block;
    height: auto;
    margin-left: 5%;
    text-align: left;
    white-space: normal;
}